@charset "UTF-8";

body{
    background-color: rgba(155, 197, 162, 0.801);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgba(21, 189, 49, 0.801);
}

h1#principal{
    text-align: center;
    background-color: rgba(21, 189, 49, 0.801);
    color: white;
}

h2{
    color: rgb(40, 95, 49);
}


.basico{
    color: rgb(40, 95, 49);
    font-weight: bolder;
}

.intermediario{
    color: rgb(94, 95, 40);
}

.avancado{
    color: rgb(95, 42, 40);

}

.destaque{
    background-color: rgba(161, 161, 80, 0.731);
}
